@import url("https://fonts.googleapis.com/css2?family=Nosifer&display=swap");





body{
    background-color: #ede0d4;
    margin: 0;
}


#titulo{
        font-family: 'Nosifer';
        font-size: 70px;
}

a img{
    width: 600px; ;
    height: 600px;
}
